//aca directamente diseñar la pagina de inicio

<main>
    <h1>
        mi pagina de productos
    </h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, delectus unde. Nulla cupiditate sit necessitatibus quisquam in, nihil expedita, reprehenderit sapiente ullam, ipsum repudiandae accusantium eius saepe assumenda illo nisi?</p>

</main>