
  <div class="d-flex  "></div>
    <h1 class="text-center mb-4">Products</h1>

    <section class="">
      <article id="products" class="d-flex flex-wrap justify-content-evenly">
        <!-- Contenido de los productos -->
      </article>
    </section>
  </div>


<script src="/socket.io/socket.io.js"></script>
<script src="real.js"></script>