
<div class="d-flex flex-wrap justify-content-evenly">

  <form>
    <div class="mb-3">
      <label  class="form-label">Name</label>
      <input type="text" class="form-control"  />
    </div>
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control"  />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input"  />
      <label class="form-check-label" ></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>